* {
  margin: 0;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: rgb(16, 16, 159);
  padding: 1rem;
  color: white;
  font-size: 30px;
}

.navbar {
  margin-bottom: 2rem;
}

.child1 {
  margin-top: -2rem;
  background: linear-gradient(to bottom, rgb(65, 177, 222,.7), rgb(246, 131, 150,.7), white);
  min-height: 80vh;
  padding-top: 5rem;

}

.notFound {
  margin: 3rem;
  color: rgb(61, 37, 37);
}